<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://res.cloudinary.com/dv4ejn3qv/image/upload/v1727435294/favicon_pg5eif.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/content.css">
  <title>My Portfolio</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-custom navbar-mainbg <%= activePage === 'home' ? 'home-navbar' : '' %>">
      <a class="navbar-brand navbar-logo" href="/">
        <img src="https://res.cloudinary.com/dv4ejn3qv/image/upload/v1727435274/web-logo_hl0q7q.svg" alt="Logo" class="navbar-logo-img">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <div class="hori-selector">
            <div class="left"></div>
          </div>
          <li class="nav-item <%= activePage === 'home' ? 'active' : '' %>">
            <a class="nav-link" href="/"><i class="fas fa-home"></i>Home</a>
          </li>
          <li class="nav-item <%= activePage === 'about' ? 'active' : '' %>">
            <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i>About</a>
          </li>
          <li class="nav-item <%= activePage === 'contact' ? 'active' : '' %>">
            <a class="nav-link" href="/contact"><i class="fas fa-envelope"></i>Contact</a>
          </li>
          <li class="nav-item <%= activePage === 'services' ? 'active' : '' %>">
            <a class="nav-link" href="/services"><i class="fas fa-concierge-bell"></i>Services</a>
          </li>
          <!-- Theme Toggle Button -->
          <li class="nav-item">
            <button id="theme-toggle" class="btn">
              <i id="theme-icon" class="fas fa-moon"></i>
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  
  
  
  
